$dark-blue:  #12232E;
$light-blue: #007CC7;
$lightest-blue: #4DA8DA;
$dark-blue-shadow: #203647;
$light-blue-shadow: #EEFBFB;

$rbpurple: #9500ff;
$rbblue: #0008ff;
$rblightblue: #00d0ff;
$rbgreen: #04ff00;
$rbyellow: #ffea00;
$rborange: #ff7f00;
$rbred: #ff0000;
